@import url("https://use.typekit.net/lfh0hzu.css");

body {
    font-size: 16px;
    font-family: quicksand, sans-serif;
}

h1 {
    font-size: 2em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
}

.about_me {
    text-align: center;
    align-items: center;
    font-weight: 550;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin: auto;
}

